/*/
/*
/* Rank: 3
/* Standard：Google
/*
/*/
/*新版*/
.tab{
    width: 100%;
    text-align: center;
    padding: 8px 0 8px;
    border-top: 1px solid #f5f5f5;
}
.tab a{
    display: inline-block;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 900;
}
.tab a.left{
    margin-right: 15px;
    border-bottom: 2px solid #fff;
}
.tab a.left.active{
    padding-left: 2px;
    border-bottom: 2px solid #000;
}
.tab a.right{
    margin-left: 15px;
    border-bottom: 2px solid #fff;
}
.tab a.right.active{
    padding-left: 1px;
    border-bottom: 2px solid #000;
}
.login-container{
    margin-top: 0;
}
.submit-new-btn{
    margin-top: 20px;
}